body
{
    width: 800px;
    margin: auto;
    padding: 10px;
    background: #e7fcff;
    font-family: Helvetica, Verdana, sans-serif;
}

#header
{
    -moz-border-radius: 7px 7px 0px 0px;
    background-image: url("../images/header.jpeg");
    min-height: 120px;
    width: 99.9%;
    -moz-box-shadow: #bfbfbf 0.3em 0.3em 0.3em
}

#header h1
{
    margin: auto;
    color: #0e7480;
}

#header h5
{
    margin: auto;
    color: #517279;
    margin-right: 10px;
}

#header h5 a:link { color: #888f91; text-decoration:none; }
#header h5 a:visited { color: #888f91; text-decoration:none; }
#header h5 a:hover { color: #fff; text-decoration:none; }
#header h5 a:active { color: #888f91; text-decoration:none; }

#site_body
{
    border-top: solid 1px #99bbdb;
    background: #c4ced7;  
    width: 100%;
    float: left;
    min-height: 100px;
    -moz-box-shadow: #bfbfbf 0.2em 0.2em 0.2em 
}

#leftMenu
{  
    display: inline;
    float: left;
    width: 25%;
    min-height: 200px;
}


#leftMenu img
{
    position: relative;
    margin: auto;
}

#leftMenu hr
{
    width: 90%;
    color: #99bbdb;
}

#leftMenu .element
{
    width: 92%;
    background: #7fa4c6;
    border-bottom: solid 1px #696d6d;
    padding: 5px;
}

#leftMenu .element:hover
{
    background: #6a7279;
    cursor: pointer;
    color: #97bbdc
}

#leftMenu a:link { color: #42575a; text-decoration:none; }
#leftMenu a:visited { color: #42575a; text-decoration:none; }
#leftMenu a:hover { color: #f4f8f9; text-decoration:none; }
#leftMenu a:active { color: #42575a; text-decoration:none; }

#leftMenu #login
{
    background: #7fa4c6;
    color: #2a4157;
    cursor: pointer;
}

#leftMenu #login:hover 
{
    background: #6a7279;
    color: #97bbdc;
}

#leftMenu #login_form
{
    background: #98abab;
    color: #234646;
}

#leftMenu #login_form a { color: blue; }
#leftMenu #login_form a:hover { color: #c2d9d9; }

#leftMenu .menu_title
{
    background: #404d5a;    
    color: #c0cbd5;
}

#content
{
    float:right;
    width: 75%;
    background: #fff;
    min-height: 420px;
}

#footer
{
    text-align: center;
    background: #000;
    height: 30px;
    width: 100%;
    color: #ddd;
    font-size: x-small;
    font-family: Helvetica, Verdana, sans-serif;
    float: right;
    -moz-border-radius: 0px 0px 6px 6px;
    -moz-box-shadow: #bfbfbf 0.5em 0.5em 0.5em;
}


