
.accordion 
{
    width: 75%;
    border: solid 1px #c4c4c4;
    margin: auto;
    margin-bottom: 5px;
}

.accordion .profile_item
{
    background: #e9e7e7 url(/static/images/arrow-square.gif) no-repeat right -51px;
    margin: auto;
    cursor: pointer;
    border-bottom: solid 1px #c4c4c4;
}

.accordion .profile_item:hover 
{
    background-color: #e3e2e2;
}

.accordion .profile_item.active 
{
    background-position: right 5px;
}

.accordion .profile_fields
{
    background: #f7f7f7;
    margin: 0;
    padding: 5px 1px 5px;
}

.accordion .profile_fields #pfs_field:hover
{
    background: #cfcfcf;
}

#profile_fields
{
    position: relative;
    width: 50%;
}

#profile_fields .phone
{
    margin-left: 20px;
    position: relative;
    text-align: left;
}

#profile_fields .phone:hover
{
    background: #cfcfcf;
}

#profile_fields field_title
{
    margin-left: 10px;
    font-size: 19px;
    position: relative;
    text-align: left;
}

#profile_change .delete_phone
{
    cursor: pointer;
}

#add_phone
{
    color: blue;
    cursor: pointer;
}


