<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel=Stylesheet href="/static/styles/base.css" type="text/css">
<script type="text/javascript" src="/static/JQuery/jquery.js"></script>
<script type="text/javascript" src="/static/JQuery/jquery-ui-1.8.2.custom/js/jquery-ui-1.8.2.custom.min.js"></script>

<script type="text/javascript" src="/static/JQuery/jquery.alerts-1.1/jquery.alerts.js"></script>
<link href="/static/JQuery/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />

<style type="text/css">
    {% block style %}
    {% endblock %}
</style>

<title>{% block title %} Welcome! - PERTMED Project {% endblock %}</title>

<script type="text/javascript">
    {% block script %}{% endblock %}
</script>

<script type="text/javascript">
    
    jQuery(document).ready(function(){
        $(".site_body #leftMenu #login_form").hide()
    
        $(".site_body #leftMenu #login").click(function(){    
            $(this).next(".site_body #leftMenu #login_form").slideToggle("fast")
              .siblings(".site_body #lleftMenu #login_form:visible").slideUp("fast");
        });
    });
</script>


</head>

<body>
    <div id="header">
        <h1><center> PERTMED Project </center></h1>

        <h5 align="right">
            <a href="http://www.ufsm.br"> UFSM - </a>
            <a href="http://gmobserver02.inf.ufsm.br:8082/features.html"> GMOB </a> 
            <i> - Grupo de Sistemas de Computa&ccedil;&atilde;o M&oacute;vel</i>
        </h5>
        <br />
    </div>
    
    <div class="site_body">
        <div id="leftMenu" align="center">
            {% block login %}
                <div class="element" id="login">
                    Enter
                </div>           

                <div class="element" id="login_form">
                    <form action="/profile/1" method="GET">
                        Login <input type="text" name="Login" value="Login" />
                        Password <input type="password" name="Senha" value="Senha" />
                        <input type="submit" value="Submit" />
                    </form> 
                </div>
            {% endblock %}                

            <div class="element">
                <a href="/index/"> Home </a>
            </div>
            <div class="element">
                <a href="#"> About </a>
            </div>
            <div class="element">
                <a href="#"> Developers </a>
            </div>
            <div class="element">
                <a href="#"> Contact </a>
            </div>
            <div class="element" border_bottom="none;">
                <a href="http://www.ufsm.br">
                <img src="/static/images/logo_UFSM.gif" width="90" height="90" style="opacity:0.7;filter:alpha(opacity=70)"/>
                </a>
                <a href="http://www.inf.ufsm.br">
                <img src="/static/images/logo_inf.jpeg" style="opacity:0.7;filter:alpha(opacity=70)"/>
                </a>
        
            </div>
        </div>
        <div id="content">
            {% block content %}
                <center>
                <h1> Welcome! </h1>
                <h3> PERTMED Project <h3>
                </center>
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        GMOB - Grupo de Sistemas de Computa&ccedil;&atilde;o M&oacute;vel - 2010
        <br>
        Bruno Romero de Azevedo - Hugo S. P.
    </div>
</body>
</html>

