<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- DEPENDÊNCIAS -->

{% block style %}
    <link rel=Stylesheet href="/static/styles/base.css" type="text/css">
{% endblock %}

<script type="text/javascript" src="/static/JQuery/jquery.js"></script>
<script type="text/javascript" src="/static/JQuery/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="/static/JQuery/jquery.checkboxes.js"></script>
<script type="text/javascript" src="/static/JQuery/jquery.numeric.js"></script>


<script type="text/javascript" src="/static/JQuery/jquery.alerts-1.1/jquery.alerts.js"></script>
<link href="/static/JQuery/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />

<!-- FIM DAS DEPENDÊNCIAS -->

<title>{% block title %} Welcome! - PERTMED Project {% endblock %}</title>

{% block script %}
    <script type="text/javascript">
        
        //efeito no menu da esquerda.
        jQuery(document).ready(function(){
            $("#site_body #leftMenu #user_options").hide()
        
            $("#site_body #leftMenu #login").click(function(){    
                $(this).next("#site_body #leftMenu #user_options").slideToggle("fast")
                  .siblings("#site_body #leftMenu #user_options:visible").slideUp("fast");
            });
        });
    </script>
{% endblock %}

</head>

<body>
    <div id="header">
        <h1><center> PERTMED Project </center></h1>

        <h5 align="right">
            <a href="http://www.ufsm.br"> UFSM - </a>
            <a href="http://gmobserver02.inf.ufsm.br:8082/features.html"> GMOB </a> 
            <i> - Grupo de Sistemas de Computa&ccedil;&atilde;o M&oacute;vel</i>
        </h5>
        <br />
    </div>
    
    <div id="site_body">
        <div id="leftMenu" align="center">
            <div class="menu_title" align="center">
                <strong>.:: MENU ::.</strong>
            </div>   
            <hr />

            {% block login %}
                {% if not user.is_authenticated %}
                    <div class="element" id="login">
                        <a href="/accounts/login">Login</a>
                        (<a href="/register/">register</a>)
                    </div>  
                 {% else %}
                    <div class="element" id="login">
                        Dr. <strong>{{ user.get_full_name }}</strong>
                        <a href="/accounts/logout/">logout</a>
                    </div>  
                    <div id="user_options">
                        <table>
                            <tr><td><a href="/profile/">Profile</td></tr>
                        </table>
                    </div>
                {% endif %}
            {% endblock %}                

            <a href="/index/"><div class="element">Home</div></a>
            <a href="#"><div class="element">About</div> </a>
            <a href="#"><div class="element">Contact</div></a>
            <div class="element" border_bottom="none;" style="cursor: default;">
                <a href="http://www.ufsm.br">
                <img src="/static/images/logo_UFSM.gif" width="90" height="90" style="opacity:0.7;filter:alpha(opacity=70)" />
                </a>
                <a href="http://www.inf.ufsm.br" >
                <img src="/static/images/logo_inf.jpeg" width="66px" height="66px" style="opacity:0.7;filter:alpha(opacity=70)">
                </a>
        
            </div>
        </div>
        <div id="content">
            {% block content %}
                <center>
                <h1> Welcome! </h1>
                <h3> PERTMED Project <h3>
                </center>
            {% endblock %}
        </div>
    </div>

    <div id="footer"> <br />
        GMOB - Grupo de Sistemas de Computa&ccedil;&atilde;o M&oacute;vel
    </div>
</body>
</html>

