{% extends "basic/base.html" %}


<script type="text/javascript">

        jQuery(document).ready(function(){
            $(".signup form table tr td#phone_form").numeric();
        });
</script>

{% block content %}
    {% if not object %}
        <div class="signup">
            <h2 align="center"> Sign Up </h2>
            <hr />

            <form action="." method="POST">
            <!-- Token necessário para evitar a duplicação de informação enviada via formulário. -->
            {% csrf_token %}
                <table>
                    {% if nameform_error %}
                        <tr><td style="color: red;">{{nameform_error}}</td></tr>
                    {% endif %}
                    <tr><td>Name: </td><td>{{ signup_form.name }}</td></tr>
                    {% if phoneform_error %}
                        <tr><td style="color: red;">{{phoneform_error}}</td></tr> 
                    {% endif %}               
                    <tr><td>Phone Number: </td><td id="phone_form">{{ signup_form.phone }}</td></tr>
                    <tr><td><input type="submit" value="Sign Up" /></td></tr>
                </table>
            </form>
        </div>
    {% else %}
        <div class="thanks">
            <h2 align="center">Thanks for registering!</h2>

            <hr />

            <form action="/profile/{{object.id}}" method="GET">
                <center><input type="submit" value="Visualize Profile" /></center>
            </form>
        </div>
    {% endif %}

{% endblock %}



