{% extends "basic/base.html" %}

{% block title %} {{object.name}} - Perfil Configuration {% endblock %}

<!-- Estilo da página. -->
{% block style %}
    .accordion {
	    width: 60%;
	    border-bottom: solid 1px #c4c4c4;
        margin: auto;
        margin-bottom: 5px;
    }
    .accordion .form_item {
	    background: #e9e7e7 url(/static/images/arrow-square.gif) no-repeat right -51px;
	    padding: 2px 5px;
	    margin: 0;
	    font: bold 120%/100% Arial, Helvetica, sans-serif;
	    border: solid 1px #c4c4c4;
	    border-bottom: none;
	    cursor: pointer;
    }
    .accordion .form_item:hover {
	    background-color: #e3e2e2;
    }
    .accordion .form_item.active {
	    background-position: right 5px;
    }
    .accordion .form_field {
	    background: #f7f7f7;
	    margin: 0;
	    padding: 2px 5px 5px;
	    border-left: solid 1px #c4c4c4;
	    border-right: solid 1px #c4c4c4;
    }
{% endblock %}

<!-- Script do JQuery. (Accordion) -->
{% block script %}
    $("document").ready(function(){
						       
        $(".accordion .form_item:first").addClass("active");
	    $(".accordion .form_field:not(:first)").hide();

	    $(".accordion .form_item").click(function(){
	      $(this).next(".form_field").slideToggle("slow")
	      .siblings(".form_field:visible").slideUp("slow");
	      $(this).toggleClass("active");
	      $(this).siblings(".form_item").removeClass("active");

	    });

    });
{% endblock %}

{% block content %}
    <h2 align="center"> Alterar Perfil </h2>
    <hr width="75%" align="center" />    

    {% if forms.errors %}
        <p style="color: red;">
            Please correct the error{{ forms.errors|pluralize }} below.
        </p>
    {% endif %}
    {% if changed %}
    <!-- ao invés disso podia ser tipo uma janela de mensagem
         ou algo assim. -->
        <p style="color: blue;">
            Profile changed with Success!
        </p>
    {% endif %}

    <form action="." method="POST">
    <!-- Token necessário para evitar a duplicação de informação enviada via formulário. -->
    {% csrf_token %}
    <table align="center">
    <!-- Renderiza o campo "Name" do formulário. -->
        <tr>
            <td>{{ forms.name.label }}:</td><td>{{ forms.name }}</td>
            <td><input type="submit" value="Done" /></td>
        </tr>    

    <!-- Renderiza os campos "Phone Number" do formulário. -->
        {% for phone in phone_forms %}
            <tr><td>Phone Number:</td><td>{{ phone }} 
                {% if phone.errors %}
                   <td style="color: red;">{{ phone.errors }}</td>
                {% endif %} 
           </td></tr> 
        {% endfor %}
        <tr>
            <td>Add Phone</td>
            <td><input type="checkbox" name="addphone" /></td>
        </tr>
    </table>


    <h3> &nbsp;  Select the data you want to receive: </h3>

    <!-- Laço que faz a renderização de todos os campos das informações que o médico gostaria de receber. -->
    <div class="accordion">
        {% for item, fields in info_forms %}
            <div class="form_item">
            {% for label, info in item %}
                <strong><!-- {{ info }}-->{{ label }} </strong>
            {% endfor %}
            </div>

            <div class="form_field">
            <table align="center">
            {% for label, info in fields %}
                <tr><td> {{ label }}: </td><td> {{ info }} </td></tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    </div>

    </form>
{% endblock %}


