
{% extends "basic/base.html" %}

<link rel=Stylesheet href="/static/styles/md_profile.css" type="text/css">
{% block title %} {{ object.name }} - Perfil {% endblock %}


{% block content %}
    <h1>{{ object.name }}</h1>
    <dl>
    {% for item in object.item_set.all %}
        <dt><strong>{{ item.name }}</strong>
        {% for field in item.field_set.all %}
            <dd><ul><li> {{ field.name }} </li></ul></dd>
        {% endfor %}
    {% endfor %}
    </dl>
    <form action="change/" method="GET">
        <input type="submit" value="Change" />
    </form>
{% endblock %}


